@page
@model ContactModel
@{
    ViewData["Title"] = "联系";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    GuangDong GuangZhou<br />
    CenCun, Street 19<br />
    <abbr title="Phone">Phone:</abbr>
    18617322317
</address>

<address>
    <strong>联系人:</strong> <a href="mailto:409424033@qq.com">409424033@qq.com</a><br />
</address>
