@page
@model Backend.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登出</title>
</head>
<body>
    正在登出...
</body>
</html>
