@page
@model Backend.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "删除";
}

<h2>删除</h2>

<p class="text-danger">@Model.ConcurrencyErrorMessage</p>

<h3>你确定要删除吗？</h3>
<div>
    <h4>类型</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            上级类型
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.ParentCategory.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <input type="hidden" asp-for="IsConfirm"/>
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-page="./Index">返回列表</a>
    </form>
</div>
