@page
@using Microsoft.AspNetCore.Http;
@using MyShop.Util;
@using MyShop.Models;
@model LoginModel
@{
}

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Instructor</h4>
<hr />
<div class="form-group">
    @HttpContext.Session.GetString("user")
    <form method="post">
        <label asp-for="CurrentUser.Name" class="control-label"></label>
        <input asp-for="CurrentUser.Name" class="form-control" />
        <label asp-for="CurrentUser.Password" class="control-label"></label>
        <input asp-for="CurrentUser.Password" class="form-control" type="password" />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
</div>