<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="css/icons-extra.css" />
    <style>
        .mui-btn, button, input[type=button], input[type=reset], input[type=submit] {
            border-radius: 0;
            border: 0px solid #ccc;
        }
    </style>
    <script src="js/global_variable.js"></script>
</head>
<body>
    <div id="content">
        <nav class="mui-bar mui-bar-tab">
            <ul class="mui-table-view" v-if="!isLoading && !isNeedLogin">
                <li class="mui-table-view-cell" style="height:40px;">
                    <span>总价:￥{{totalPrice}}</span>
                    <button type="button" v-on:click="confirm()" class="mui-btn" style="background-color:#ff651b;color:#fff;font-size: 25px;width:25%;right: 0px;">
                        <span style="font-size: 16px;">去结算</span>
                    </button>
                </li>
            </ul>
            <div>
                <a class="mui-tab-item" href="/index.html">
                    <span class="mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item mui-active" href="#">
                    <span class="mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="mui-tab-item" href="/user-setting.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">个人中心</span>
                </a>
            </div>
        </nav>

        <div class="mui-content">

            <template v-if="isLoading">
                <div class="jui-loading"></div>
            </template>

            <template v-if="!isLoading">
                <template v-if="isNeedLogin">

                    <div class="mui-card">
                        <div class="mui-card-content">
                            <div class="mui-card-content-inner">
                                当前未登录账号，请先切换到个人中心进行登录。
                            </div>
                        </div>
                    </div>

                </template>

                <template v-if="!isNeedLogin && !isLoading">

                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            已选购商品
                        </li>
                    </ul>

                    <ul class="mui-table-view">

                        <template v-for="item in shopCart.shopCartItems">
                            <li class="mui-table-view-cell mui-media mui-checkbox mui-left">
                                <input name="checkbox" type="checkbox" style="padding: 30px 0;" v-model="item.isCheck" v-on:click="checkItem(item, item.isCheck)"/>
                                <div>
                                    <a v-on:click="toProductDetail(item.product.id)">
                                        <img class="mui-media-object mui-pull-left" v-bind:src="imageServer + item.product.iconImageUrl">
                                        <div class="mui-media-body">
                                            <span v-text="item.product.name"></span>
                                            <p class='mui-ellipsis'>￥{{item.product.price}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="mui-numbox" data-numbox-min='1' v-bind:data-numbox-max="item.product.store" style="float: right; height: 35px;">
                                    <button class="mui-btn mui-btn-numbox-minus" type="button" >-</button>
                                    <input class="mui-input-numbox" type="number" v-bind:value="item.count" v-on:change="changeItem(item, item.isCheck, $event)"/>
                                    <button class="mui-btn mui-btn-numbox-plus" type="button" >+</button>
                                </div>
                                <div style="float: right;height: 35px;padding-top: 10px;">
                                    <a style="padding-right: 20px;" v-on:click="removeItem(item.id)">删除</a>
                                </div>
                            </li>
                        </template>

                    </ul>

                </template>
            </template>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <script src="js/mui.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource_1.5.1_vue-resource.min.js"></script>
    <script src="js/common.js"></script>
    <script>
        var vm;

        appendWindowOnload(function () {

            vm = new Vue({
                el: '#content',
                data: {
                    isLoading: true,
                    isNeedLogin: true,
                    shopCart: {}
                },
                methods: {
                    removeItem: function (id) {
                        this.$http.delete("/api/shopcart/" + id).then(function (res) {
                            var removeItemIndex;
                            for (var i = 0; i < this.shopCart.shopCartItems.length; i++) {
                                var item = this.shopCart.shopCartItems[i];
                                if (item.id == id) {
                                    removeItemIndex = i;
                                }
                            }
                            this.shopCart.shopCartItems.splice(removeItemIndex, 1);
                        });
                    },
                    changeItem: function (item, isCheck, event) {
                        item.count = event.target.value;
                        this.$http.post("/api/shopcart", {
                            cartItemId: item.id,
                            numb: item.count,
                            isCheck: isCheck
                        });
                    },
                    checkItem: function (item, isCheck) {
                        this.$http.post("/api/shopcart", {
                            cartItemId: item.id,
                            numb: item.count,
                            isCheck: isCheck
                        });
                    },
                    confirm: function () {
                        console.log(this.shopCart.shopCartItems.toString());
                    },
                    toProductDetail: function(productId) {
                        window.location.href = "/product-detail.html?productId=" + productId;
                    }
                },
                updated: function () {
                    mui('.mui-numbox').numbox();
                },
                mounted: function () {
                    mui('.mui-numbox').numbox();
                },
                computed: {
                    totalPrice: {
                        get: function () {
                            var totalPrice = 0;
                            for (var i = 0; i < this.shopCart.shopCartItems.length; i++) {
                                var item = this.shopCart.shopCartItems[i];
                                if (item.isCheck) {
                                    totalPrice += (item.product.price * item.count);
                                }
                            }
                            this.shopCart.totalPrice = totalPrice;
                            return totalPrice;
                        }
                    }
                }
            });
            
            mui('.mui-bar-tab').on('tap', 'a', function () {
                console.log(this.getAttribute('href'));
                location.href = this.getAttribute('href');
            });

            Vue.http.get("/api/shopcart").then(function (res) {
                vm.shopCart = res.body;
                vm.isLoading = false;
                vm.isNeedLogin = false;
            }, function () {
                console.log('请求失败');
                vm.isLoading = false;
                vm.isNeedLogin = true;
            });
        })
    </script>
</body>
</html>
