<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <style>
        .mui-table h4, .mui-table h5, .mui-table .mui-h5, .mui-table .mui-h6, .mui-table p {
            margin-top: 0;
        }

        h5 {
            color: black;
            padding-bottom: 3px;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-back mui-pull-left" href="/user-setting.html"></a>
        <h1 class="mui-title">收货地址</h1>
    </header>

    <div class="mui-content" id="content">
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="margin-bottom: 20px;">

            <template v-for="address in userAddresses">

                <li class="mui-table-view-cell">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-10">
                            <h5>{{address.name}}</h5>
                            <h5>{{address.phone}}</h5>
                            <h5><span>{{address.addressArea.replace(/\s*/g,"")}}</span>&nbsp;&nbsp;&nbsp;<span>{{address.addressDetail}}</span></h5>
                            <div class="mui-input-row mui-radio mui-left">
                                <label style="padding-left: 35px;">默认</label>
                                <input name="radio1" type="radio" style="left: 0px;" v-bind:value="address.id" v-model="defaultAddressId">
                            </div>
                        </div>
                        <div class="mui-table-cell mui-col-xs-2 mui-text-right" style="width:54px;">
                            <button type="button" class="mui-btn mui-btn-primary" style="width:54px;" v-on:click="toEdit(address.id)">
                                编辑
                            </button>
                            <a style="display: block; margin:15px 0 0 0; text-align: center;" v-on:click="remove(address.id)">
                                删除
                            </a>
                        </div>
                    </div>
                </li>

            </template>

        </ul>
        <button type="button" class="mui-btn mui-btn-primary mui-btn-block" style="margin: auto;width: 70%; margin-bottom:20px;" v-on:click="toAdd">添加新地址</button>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource_1.5.1_vue-resource.min.js"></script>
    <script src="js/common.js"></script>
    <script>
        appendWindowOnload(function () {
            var vm = new Vue({
                el: '#content',
                data: {
                    userAddresses: [

                    ],
                    defaultAddressId: 1
                },
                methods: {
                    remove: function (id) {
                        this.$http.delete("/api/useraddress/" + id).then(function () {
                            var removeIndex;
                            for (var i = 0; i < this.userAddresses.length; i++) {
                                if (this.userAddresses[i].id == id) {
                                    removeIndex = i;
                                    break;
                                }
                            }
                            this.userAddresses.splice(removeIndex, 1);
                        });
                    },
                    toEdit: function (id) {
                        window.location.href = "/user-address-edit.html?id=" + id;
                    },
                    toAdd: function () {
                        window.location.href = "/user-address-edit.html";
                    }
                },
                watch: {
                    // 如果 `question` 发生改变，这个函数就会运行
                    defaultAddressId: function (newId, oldId) {
                        var address;
                        for (var i = 0; i < this.userAddresses.length; i++) {
                            if (this.userAddresses[i].id == newId) {
                                address = this.userAddresses[i];
                                break;
                            }
                        }

                        address.isDefault = true;

                        this.$http.post("/api/useraddress/" + address.id, address);
                    }
                }
            });

            Vue.http.get("/api/useraddress").then(function (res) {
                vm.userAddresses = res.body;
                for (var i = 0; i < vm.userAddresses.length; i++) {
                    if (vm.userAddresses[i].isDefault) {
                        vm.defaultAddressId = vm.userAddresses[i].id;
                    }
                }
            }, function (res) {
            });
        });
    </script>
</body>
</html>